<div class="ion-page" id="main-content">
  <ion-header style="border: 0; background: transparent">
    <ion-toolbar
      border="none"
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
      "
    >
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <img class="logo" src="assets/header-logo.png" alt="logo" />
      </ion-title>
      <ion-buttons slot="end">
        <ion-button disabled="true"></ion-button>
        <ion-button disabled="true"></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="bg-waves">
    <form>
      <ion-item>
        <ion-label
          position="stacked"
          [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
          >{{'FEEDBACK.TYPE' | translate}}</ion-label
        >
        <ion-input
          [(ngModel)]="feedbackType"
          name="feedbackType"
          #feedbackTypeCtrl="ngModel"
          required
          [clearInput]="true"
          [placeholder]="'FEEDBACK.TYPE-SUB' | translate"
          [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
          inputmode="text"
        >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label
          position="stacked"
          [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
          >{{'FEEDBACK.MESSAGE' | translate}}</ion-label
        >
        <ion-textarea
          [(ngModel)]="feedbackMessage"
          name="feedbackMessage"
          #feedbackMessageCtrl="ngModel"
          required
          [autoGrow]="true"
          [counter]="true"
          [placeholder]="'FEEDBACK.MESSAGE-SUB' | translate"
          [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
          aria-label="Feedback message"
        >
        </ion-textarea>
      </ion-item>

      <ion-button
        expand="block"
        style="
          width: 220px;
          --background: #00796b;
          --background-activated: #124143;
          --border-width: 2px;
          --border-color: #00796b;
          --padding-top: 0;
          --padding-bottom: 0;
          color: #d1d1d1;
          height: 40px;
          display: flex;
          justify-content: center;
          flex-direction: row;
        "
        (click)="submitFeedback()"
        [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
      >
        {{'FEEDBACK.BUTTON' | translate}}
      </ion-button>
    </form>
  </ion-content>
</div>
