<ion-content [fullscreen]="true">
  <div class="centered">
    <img src="assets/logo.png" class="logo" alt="App Logo" />
    <p class="login-text1">Welcome to</p>
    <p class="login-text2">Pensioner Livelihood Verification App</p>
    <div class="button-group">
      <ion-button
        expand="block"
        fill="outline"
        style="
          width: 80%;

          --background: transparent;
          --background-activated: #124143;
          --border-width: 2px;
          --border-color: #5ac994;
          --padding-top: 0;
          --padding-bottom: 0;
          color: #ffffff;
          display: flex;
          justify-content: center;
          flex-direction: row;
        "
      >
        <img src="assets/QRlogo.svg" class="button-logo" alt="App Logo" />
        <p style="font-size: 16px; font: bold">Login with Bhutan NDI</p>
      </ion-button>
    </div>
  </div>
</ion-content>
