.custom-toggle {
  margin-left: 25px;
  --handle-background-checked: white; /* Custom ON background */

  --track-background-checked: #5bd1d7; /* Custom ON track background */
  --handle-background: white; /* Toggle knob color */
  --handle-border-color: transparent;
  color: #000;
}
