<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-button>
    </ion-buttons>

    <ion-title [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
      >{{ 'CONTACT.TITLE' | translate }}</ion-title
    >
    <ion-buttons slot="end">
      <ion-button disabled style="margin-left: 20px"> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-waves1">
  <div class="card" (click)="makeCall()">
    <img src="assets/contactIcons/phone.svg" alt="phone" />
    <h2 [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }">
      {{ 'CONTACT.CONTACTNUMBER' | translate }} <br />{{ 'CONTACT.NUMBER' |
      translate }}
    </h2>
  </div>
  <div class="card" (click)="sendEmail()">
    <img src="assets/contactIcons/email.svg" alt="email" />
    <h2 [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }">
      {{ 'CONTACT.EMAIL' | translate }} <br />{{ 'CONTACT.EMAILID' | translate
      }}
    </h2>
  </div>
  <div class="card" (click)="whatsApp()">
    <img src="assets/contactIcons/whatsapp.svg" alt="whatsapp" />
    <h2 [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }">
      {{ 'CONTACT.WHATSAPP' | translate }} <br />{{ 'CONTACT.WHATSAPPNUMBER' |
      translate }}
    </h2>
  </div>
  <div class="card" (click)="youtube()">
    <img src="assets/contactIcons/youtube.svg" alt="youtube" />
    <h2 [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }">
      {{ 'CONTACT.YOUTUBE' | translate }} <br />{{ 'CONTACT.YOUTUBEID' |
      translate }}
    </h2>
  </div>
</ion-content>
