<ion-content [fullscreen]="true" class="ion-padding">
  <div class="centered">
    <img src="assets/logo.png" class="logo" alt="App Logo" />

    <p class="terms-header">Terms of Services</p>

    <p class="terms-p">Nga Yoe <br />Version 1.0</p>

    <p class="terms-text">
      "By using the Nga Yoe App, you acknowledge and agree to be bound by these
      Terms and Conditions and our Privacy Policy of National Pension and
      Provident Fund (NPPF). You further consent to the collection, processing
      and secure storage of store your personal information including but not
      limited to biometric data, pension statements, and TDS reports exclusively
      for the purposes of identity verification, pension administration, and
      service delivery. You expressly consent to such processing in accordance
      with the NPPF privacy policy and applicable Laws of the Kingdom of Bhutan.
      You understand and accept that all personal data will be encrypted stored
      securely and retain. You agree to use the App in a lawful and responsible
      manner, recognizing that while NPPF endeavors to maintain accuracy,
      security, and uninterrupted service, we do not guarantee complete
      error-free operation or immunity from external risks beyond our control.
      All intellectual property contained in the App remains the exclusive
      property of the National Pension and Provident Fund, and any unauthorized
      use, reverse-engineering, or misuse of the App may result in immediate
      termination of access and legal action. These Terms shall be governed by
      and construed in accordance with the laws of Bhutan NPPF, reserves the
      right to amend these Terms at its sole discretion with reasonable prior
      notice provided through the App or official communication channels."
    </p>

    <ion-item lines="none">
      <ion-checkbox slot="start" [(ngModel)]="accepted"></ion-checkbox>

      <p class="terms-text">I agree to the Terms of Service</p>
    </ion-item>

    <div class="button-group">
      <ion-button
        fill="outline"
        shape="round"
        style="--border-color: red; --color: black"
        (click)="onCancel()"
      >
        Decline
      </ion-button>
      <ion-button
        shape="round"
        style="--background: #5fb8b4"
        [disabled]="!accepted"
        (click)="onAccept()"
      >
        Accept
      </ion-button>
    </div>
    <ion-button
      shape="round"
      style="--background: yellow; color: black"
      (click)="gotoTest()"
    >
      For Test
    </ion-button>
  </div>
</ion-content>
