/* tds.page.scss */
.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
  color: #000;
}
.tds-content {
  margin-top: 20px;
  padding-top: 20px;
  padding: 16px;
  font-family: "Arial", sans-serif;

  .user-info p {
    margin: 2px 0;
    font-size: 14px;
  }

  .tds-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 13px;
  }

  .tds-table th,
  .tds-table td {
    border: 1px solid #000;
    padding: 6px 8px;
    text-align: center;
    color: #333;
  }

  .export-wrapper {
    margin-top: 20px;
  }
}
.logo {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: block;
}
// ion-back-button {
//   --color: #5bd1d7;
//   margin: 10px;
// }
th,
td {
  padding: 0.5rem 0.4rem;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

th {
  font-weight: 600;
  white-space: nowrap;
}
.export-wrapper {
  margin-top: 1rem;
}

ion-button {
  font-weight: 600;
}
