<ion-menu contentId="main-content" mode="ios">
  <ion-header class="menu-header1">
    <ion-toolbar class="title" mode="ios">
      <ion-title>
        <img class="menu-logo" src="assets/header-logo.png" alt="logo" />
      </ion-title>
    </ion-toolbar>
    <!-- <hr
      style="
        border: none;
        height: 1px;
        background-color: #161616;
        width: 90%;
        margin-top: 0px;
        margin-bottom: 0px;
      "
    /> -->
  </ion-header>
  <ion-content class="bg-waves1">
    <p
      class="menu-header"
      [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
    >
      {{'NAVBAR.NOTIFICATIONS' | translate}}
    </p>
    <div class="menuitem">
      <img src="assets/icon/notiRound.svg" alt="" />
      <div>
        <p
          style="color: #161616"
          [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
        >
          {{'NAVBAR.NOTIFICATIONS' | translate}}
        </p>
        <p style="color: #333; font-size: 14px">
          {{'NAVBAR.NOTI-SUB' | translate}}
        </p>
      </div>
      <ion-toggle
        class="custom-toggle"
        [enableOnOffLabels]="true"
        [checked]="true"
      ></ion-toggle>
    </div>

    <p
      class="menu-header"
      [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
    >
      {{'NAVBAR.CONTACT' | translate}}
    </p>
    <div class="menuitem" (click)="goToFeedback()">
      <img src="assets/icon/feedback.svg" alt="" />
      <div>
        <p
          style="color: #161616"
          [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
        >
          {{'NAVBAR.FEEDBACK' | translate}}
        </p>
        <p style="color: #333; font-size: 14px">
          {{'NAVBAR.FEEDBACK-SUB' | translate}}
        </p>
      </div>
    </div>

    <div class="menuitem" (click)="goToFAQ()">
      <img src="assets/icon/chatbubbles.svg" alt="" />
      <div>
        <p
          style="color: #161616"
          [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
        >
          {{'NAVBAR.FAQ' | translate}}
        </p>
        <p style="color: #333; font-size: 14px">
          {{'NAVBAR.FAQ-SUB' | translate}}
        </p>
      </div>
    </div>

    <div class="menuitem" (click)="goToPolicy()">
      <img src="assets/icon/policy.svg" alt="" />
      <div>
        <p
          style="color: #161616"
          [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
        >
          {{'NAVBAR.POLICY' | translate}}
        </p>
        <p style="color: #333; font-size: 14px">
          {{'NAVBAR.POLICY-SUB' | translate}}
        </p>
      </div>
    </div>

    <div class="menuitem" (click)="goToAbout()">
      <img src="assets/icon/about.svg" alt="" />
      <div>
        <p
          style="color: #161616"
          [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
        >
          {{'NAVBAR.ABOUT' | translate}}
        </p>
        <p style="color: #333; font-size: 14px">
          {{'NAVBAR.ABOUT-SUB' | translate}}
        </p>
      </div>
    </div>

    <p
      class="menu-header"
      [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
    >
      {{'NAVBAR.SESSION' | translate}}
    </p>
    <div class="menuitem" (click)="logout()">
      <img src="assets/icon/logout.svg" alt="" />
      <div>
        <p
          style="color: #161616"
          [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
        >
          {{'NAVBAR.LOGOUT' | translate}}
        </p>
      </div>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header mode="ios" style="border: 0">
    <ion-toolbar
      mode="ios"
      border="none"
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding-top: 30px;
      "
    >
      <ion-buttons slot="start">
        <ion-menu-button style="color: black"></ion-menu-button>
      </ion-buttons>

      <ion-title>
        <img class="logo" src="assets/header-logo.png" alt="logo" />
      </ion-title>

      <ion-buttons slot="end">
        <ion-button (click)="goToContact()">
          <img class="call-icon" src="assets/icon/call-outline.svg" alt="" />
        </ion-button>

        <ion-button (click)="goToNotification()">
          <img
            class="call-icon"
            src="assets/icon/notifications-outline.svg"
            alt=""
          />
          <span
            *ngIf="hasNewNotification"
            style="
              position: absolute;
              top: 1px;
              right: 1px;
              width: 10px;
              height: 10px;
              background-color: red;
              border-radius: 50%;
            "
          ></span>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="greet">
      <h1>
        <span [ngClass]="{ 'dzongkha-greet': currentLang === 'dz' }">
          {{ 'USER.GREET' | translate }},
        </span>
      </h1>
      <h2>{{ userName1}}</h2>
      <div class="time">
        <h1>{{ livelinessMessage }}</h1>
      </div>
      <div class="button-group">
        <ion-button
          (click)="isLivenessEnabled && goToLiveness()"
          [class.disabled]="!isLivenessEnabled"
          mode="ios"
          expand="block"
          fill="outline"
          target="_system"
          style="
            width: 220px;
            --background: #00796b;
            --background-activated: #124143;
            --border-width: 2px;
            --border-color: #00796b;
            --padding-top: 0;
            --padding-bottom: 0;
            color: #d1d1d1;
            height: 40px;
            display: flex;
            justify-content: center;
            flex-direction: row;
          "
        >
          <p
            style="font-size: 18px; font-weight: 400"
            [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
          >
            {{'LIVINESS.BUTTON' | translate}}
          </p>
        </ion-button>
      </div>
    </div>
  </ion-header>

  <ion-content [fullscreen]="true" class="bg-waves">
    <div id="container">
      <div class="custom-banner">
        <div class="banner-media">
          <ng-container *ngIf="currentBanner">
            <img
              *ngIf="currentBanner.resourceType.toLowerCase() === 'image'"
              [src]="convertToUrl(currentBanner)"
              [alt]="currentBanner.contentName"
            />
            <video
              *ngIf="currentBanner.resourceType.toLowerCase() === 'video'"
              [src]="convertToUrl(currentBanner)"
              autoplay
              muted
              loop
              playsinline
            ></video>
          </ng-container>
        </div>

        <!-- Navigation arrows -->
        <div class="banner-nav">
          <button (click)="prevBanner()">‹</button>
          <button (click)="nextBanner()">›</button>
        </div>
      </div>

      <div class="line-with-text">
        <span [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }">
          {{ 'SERVICES.TITLE' | translate }}
        </span>
      </div>

      <div class="main-content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-header>
                  <img class="card-img" src="assets/icon/person.svg" alt="" />
                </ion-card-header>
                <div>
                  <p style="font-size: 20px; color: #000; font-weight: 600">
                    {{ userName}}
                  </p>
                  <p
                    style="font-size: 12px"
                    [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
                  >
                    {{'USERDETAIL.PENSION-ID' | translate}}: {{ pensionId }}
                  </p>
                </div>
                <ion-card-subtitle class="card-title">
                  <div class="button-group">
                    <ion-button
                      (click)="goToUserDetails()"
                      mode="ios"
                      expand="block"
                      fill="outline"
                      target="_system"
                      style="
                        width: 220px;
                        --background: #00796b;
                        --background-activated: #124143;
                        --border-width: 2px;
                        --border-color: #00796b;
                        --padding-top: 0;
                        --padding-bottom: 0;
                        color: #d1d1d1;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        flex-direction: row;
                      "
                    >
                      <p
                        style="
                          font-size: 18px;
                          font-weight: 400;
                          color: #d1d1d1;
                        "
                        [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
                      >
                        {{'USERDETAIL.TITLE' | translate}}
                      </p>
                    </ion-button>
                  </div>
                  <!-- <span [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }">
                    {{ 'USER.TITLE' | translate }}
                  </span> -->
                </ion-card-subtitle>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-card>
                <div class="tds-content">
                  <h2
                    style="
                      font-size: 18px;
                      align-items: center;
                      text-align: center;
                      font-weight: 700;
                      text-decoration: underline;
                      color: #333;
                    "
                    [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
                  >
                    {{ 'PENSIONDETAIL.TITLE' | translate }}
                  </h2>

                  <!-- Loading spinner -->
                  <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>

                  <!-- No‑data message -->
                  <p *ngIf="!loading && statements.length === 0">
                    No Statement found for this pension ID.
                  </p>

                  <!-- Data table -->
                  <div class="table-wrapper" *ngIf="statements.length">
                    <table #tdsTable class="tds-table">
                      <thead>
                        <tr>
                          <th
                            [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
                          >
                            {{ 'PENSIONDETAIL.YEAR' | translate }}
                          </th>
                          <th
                            [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
                          >
                            {{ 'PENSIONDETAIL.MONTH' | translate }}
                          </th>
                          <th
                            [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
                          >
                            {{ 'PENSIONDETAIL.AMOUNT' | translate }}
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let s of statements">
                          <td>{{ s.taxYear }}</td>
                          <td>{{ s.monthName.trim() }}</td>
                          <td>{{ s.monthlyPensionAmount | number }}</td>
                          <!-- <td>{{ s.cpiAdjustment }}</td> -->
                          <!-- <td>{{ s.paymentDate | date:'yyyy‑MM‑dd' }}</td> -->
                          <!-- <td>{{ s.transactionReference }}</td> -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="view-more">
                  <ion-text
                    (click)="goToStatement()"
                    [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
                    >{{'VIEWMORE.TITLE' | translate}}</ion-text
                  >
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-card>
                <div class="table-wrapper" *ngIf="statements.length">
                  <h2
                    style="
                      font-size: 18px;
                      align-items: center;
                      text-align: center;
                      font-weight: 700;
                      text-decoration: underline;
                      color: #333;
                    "
                    [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
                  >
                    {{ 'TDS.TITLE' | translate }}
                  </h2>
                  <table #tdsTable class="tds-table">
                    <thead>
                      <tr>
                        <th
                          [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
                        >
                          {{ 'TDS.MONTH' | translate }}
                        </th>
                        <th
                          [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
                        >
                          {{ 'TDS.GROSSPENSION' | translate }}
                        </th>

                        <th
                          [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
                        >
                          {{ 'TDS.NETPENSION' | translate }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let s of tdsStatements">
                        <td>{{ s.monthNameWithDate }}</td>
                        <td>{{ s.grossPension | number }}</td>

                        <td>{{ s.netPension | number }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="view-more">
                    <ion-text
                      (click)="goToTDSReport()"
                      [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
                      >{{ 'VIEWMORE.TITLE' | translate }}</ion-text
                    >
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </div>
                </div>
                <!-- <ion-card-header>
                  <ion-card-subtitle class="card-title">
                    <span
                      [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
                    >
                      {{ 'USER.VIEW' | translate }}
                    </span>
                  </ion-card-subtitle>
                  <img class="card-img" src="assets/icon/reader.svg" alt="" />
                </ion-card-header> -->
              </ion-card>
            </ion-col>

            <!-- <ion-col>
              <ion-card
                (click)="isLivenessEnabled && goToLiveness()"
                [class.disabled]="!isLivenessEnabled"
              >
                <ion-card-header>
                  <ion-card-subtitle class="card-title">
                    <span
                      [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
                    >
                      {{ 'USER.TEST' | translate }}
                    </span>
                  </ion-card-subtitle>
                  <img
                    class="card-img"
                    src="assets/icon/lock-closed.svg"
                    alt=""
                  />
                </ion-card-header>
              </ion-card>
            </ion-col> -->
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <!-- <div style="height: 100vh; background: transparent">
      <p class="footer-text">
        © 2024 Ministry of Labour and Human Resources. All rights reserved.
      </p>
      <p class="footer-text">
        Developed by
        <a
          href="https://www.techsophy.com"
          target="_blank"
          style="color: #161616"
          >Techsophy</a
        >
      </p>
    </div> -->
  </ion-content>
</div>
