<ion-header style="border: 0; background: transparent">
  <ion-toolbar
    style="
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      padding-top: 45px;
    "
  >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img class="logo" src="assets/header-logo.png" alt="logo" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button disabled="true"></ion-button>
      <ion-button disabled="true"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-waves">
  <div class="tds-content">
    <h2 class="title" [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }">
      {{'TDS.TITLE'|translate}}
    </h2>

    <!-- Spinner -->
    <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>

    <!-- No Records -->
    <p *ngIf="!loading && statements.length === 0">
      No TDS records found for this pension ID.
    </p>

    <!-- Table -->
    <div class="table-wrapper" *ngIf="statements.length">
      <table #tdsTable class="tds-table">
        <thead>
          <tr>
            <th [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }">
              {{'TDS.MONTH'|translate}}
            </th>
            <th [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }">
              {{'TDS.GROSSPENSION'|translate}}
            </th>
            <th [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }">
              {{'TDS.ARREARS'|translate}}
            </th>
            <th [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }">
              {{'TDS.LOTEDHCONT'|translate}}
            </th>
            <th [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }">
              {{'TDS.NETPENSION'|translate}}
            </th>
            <th [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }">
              {{'TDS.TDS'|translate}}
            </th>
            <th [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }">
              {{'TDS.RECEIPTNUMBER'|translate}}
            </th>
            <th [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }">
              {{'TDS.RECEIPTDATE'|translate}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of statements">
            <td>{{ s.monthNameWithDate }}</td>
            <td>{{ s.grossPension | number }}</td>
            <td>{{ s.arrear || '-' }}</td>
            <td>{{ s.lotedthContact || '-' }}</td>
            <td>{{ s.netPension | number }}</td>
            <td>{{ s.tds || '-' }}</td>
            <td>{{ s.receiptNumber || 'NA' }}</td>
            <td>{{ s.receiptDate || 'NA' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Export Button -->
    <div class="export-wrapper" *ngIf="statements.length">
      <ion-button
        expand="block"
        style="
          /* width: 220px; */
          --background: #00796b;
          --background-activated: #124143;
          --border-width: 2px;
          --border-color: #00796b;
          --padding-top: 0;
          --padding-bottom: 0;
          color: #d1d1d1;
          height: 40px;
          display: flex;
          justify-content: center;
          flex-direction: row;
        "
        (click)="exportPdf()"
        [ngClass]="{ 'dzongkha-style': currentLang === 'dz' }"
      >
        <ion-icon name="download-outline" slot="start"></ion-icon>
        {{'TDS.EXPORTPDF'|translate}}
      </ion-button>
    </div>
  </div>
</ion-content>
