<div class="ion-page" id="main-content">
  <ion-header style="border: 0; background: transparent">
    <ion-toolbar
      border="none"
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
      "
    >
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <!-- <img class="logo" src="assets/header-logo.png" alt="logo" /> -->
      </ion-title>
      <ion-buttons slot="end">
        <ion-button disabled="true"> </ion-button>
        <ion-button disabled="true"> </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="bg-waves">
    <div class="about-container">
      <!-- <img src="assets/logo.png" alt="" /> -->
      <h1>Privacy Policy</h1>
      <p>
        The National Pension and Provident Fund (NPPF) collects and processes
        personal data such as names, national IDs, contact information, job
        details, and family information to meet legal, contractual, and
        service-related obligations. Data is gathered through online
        applications, customer interactions, and third-party sources and is used
        strictly for purposes like service delivery, verification, and customer
        support. NPPF does not share or sell data without user consent unless
        legally required. Users have rights to access, correct, erase, restrict,
        or object to data processing, as well as request data portability, and
        all such requests are handled securely within 30 days.
      </p>
      <p>
        To ensure privacy, NPPF employs strict security measures, including
        encryption, restricted access, anti-malware tools, and firewalls, in
        compliance with ISO 27001 and ISO 9001 standards. While cookies are used
        to enhance user experience and monitor site performance, users can
        control their cookie preferences. Personal data is retained only for as
        long as necessary, following strict retention policies. For any
        complaints, privacy concerns, or data breach incidents, users can
        contact the appointed Data Protection Officer, who ensures timely
        resolution of issues.
      </p>
    </div>
  </ion-content>
</div>
